/vendor
/node_modules
/.phpintel
Homestead.yaml
Homestead.json
composer.lock
npm-debug.log

*.swp
TAGS
.TAGS
!TAGS/
tags
.tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
GSYMS
cscope.files
cscope.out
cscope.in.out
cscope.po.out